<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-end" *ngIf="dataUserLogin.name != '' && dataUserLogin.name != undefined">
        <button id="btnLogin" type="button" class="btn btn-primary" (click)="closeLogin();">Cerrar sesión</button>
    </div>

    <div class="container-fluid d-flex justify-content-end" *ngIf="dataUserLogin.name == '' || dataUserLogin.name == undefined">
        <button id="btnLogin" type="button" class="btn btn-primary" (click)="openLogin();">Login</button>
    </div>
</nav>

<section class="container-sm" *ngIf="dataUserLogin.name != '' && dataUserLogin.name != undefined">
    <h2 class="text-center m-5">Bienvenido {{ dataUserLogin.name }}</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ dataUserLogin.name }}</td>
                <td>{{ dataUserLogin.mail }}</td>
                <td>{{ dataUserLogin.phone }}</td>
                <td>{{ dataUserLogin.address }}</td>
              </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="container-sm" *ngIf="dataUserLogin.name == '' || dataUserLogin.name == undefined">
    <app-user-list-component></app-user-list-component>
</section>